{% trans_default_domain 'FOSUserBundle' %}
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Modifier votre photo de profil</h1>

                    {{ form(form) }}
                     {#FORM START#}
                    {#{{ form_start(form) }}

                     #}{#INPUT UPLOAD#}{#
                    {% set class = '' %}
                    {% if not form.imageFile.vars.valid %}
                        {% set class = 'has-error' %}
                    {% endif %}
                    <div class="form-group {{ class }}">

                        {{ form_label(form.imageFile, 'Photo de votre profil' , {'label_attr': {'class':
                            'control-label'}}) }}

                        <div class="input-group image-preview">
                            <input type="text" class="form-control image-preview-filename" disabled="disabled">
                            <!-- don't give a name === doesn't send on POST/GET -->
                            <span class="input-group-btn">
                            <!-- image-preview-clear button -->
                            <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                <span class="glyphicon glyphicon-remove"></span> Effacer
                            </button>
                                <!-- image-preview-input -->
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Parcourir</span>
                                {{ form_widget(form.imageFile, {'attr':{'class':'form-control'}}) }}
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                                <!-- rename it -->
                            </div>
                        </span>
                        </div><!-- /input-group image-preview [TO HERE]-->

                        {{ form_errors(form.imageFile) }}
                        {% if not form.imageFile.vars.valid %}
                            {% for error in form.imageFile.vars.errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {{ form_row(form.imageFile) }}

                    <div class="bs-callout">
                        <h4>Information</h4>
                        <p>Veuillez choisir un fichier de type image d'une dimension minimum de 350x350.</p>
                    </div>

                     #}{#INPUT SUBMIT#}{#
                    #}{#<input type="submit" id="upload_image_user" class="btn btn-custom btn-lg btn-block"
                           value="{{ 'profile.edit.submit'|trans }}">#}{#
                    #}{#FORM END#}{#
                    {{ form_end(form) }}#}
                </div>
            </div>
        </div>
    </div>
</section>
