{{ form_start(form, {'attr': {'id': id|default('form')}}) }}

{{ form_widget(form) }}

    {# INPUT HIDDEN PANIER #}
    <input type="hidden" name="panier" id="panier" value="">

    {# INPUT SUBMIT PANIER #}
    <p>
        <button type="button" value="Ajouter" class="btn btn-sm btn-custom btn-addPanier pull-right" onclick="confirmAdd()">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Ajouter
        </button>
    </p>

    {# INPUT CANCEL PANIER #}
    <p><a href="{{ path('front_homepage') }}" class="text-decoration-none">
            <button type="button" value="Ajouter" class="btn btn-sm btn-danger pull-left">
                <span class="glyphicon glyphicon-ban-circle"></span>
                Annuler
            </button>
        </a>
    </p>

{{ form_end(form) }}

<script>
    var message = '{{ message }}';

    function confirmAdd() {
        bootbox.confirm({
            title: '<h2>Confirmation !</h2>',
            message: '<p>' + message + '</p>',
            buttons: {
                confirm: {
                    label: 'Confirmer',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Annuler',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    document.form.submit();
                }
            }
        });
    }
</script>
