<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if is_granted('ROLE_ADMIN') %}
                {# LINK TO ADMIN PAGE #}
                <a class="navbar-brand" href="{{ path('admin_homepage') }}">Accueil</a>
            {% else %}
                {# LINK TO HOME PAGE #}
                <a class="navbar-brand" href="{{ path('homepage') }}">Accueil</a>
            {% endif %}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-left">
                {% if is_granted('ROLE_ADMIN') %}

                    {# LINK TO TYPE EVENT #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">Événements<span class="caret"></span></a>
                        <ul class="dropdown-menu inverse-dropdown">
                            <li><a href="{{ path('admin_event_list') }}">Liste</a></li>
                            <li><a href="{{ path('admin_event_create') }}">Ajouter</a></li>
                        </ul>
                    </li>

                    {# LINK TO TYPE EVENT #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">Catégories<span class="caret"></span></a>
                        <ul class="dropdown-menu inverse-dropdown">
                            <li><a href="{{ path('admin_category_list') }}">Liste</a></li>
                            <li><a href="{{ path('admin_category_create') }}">Ajouter</a></li>
                        </ul>
                    </li>

                    {# LINK TO ROOM #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">Salles<span class="caret"></span></a>
                        <ul class="dropdown-menu inverse-dropdown">
                            <li><a href="{{ path('admin_room_list') }}">Liste</a></li>
                            <li><a href="{{ path('admin_room_create') }}">Ajouter</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {# USERNAME #}
                    {#<p class="navbar-text">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username},#}
                    {#'FOSUserBundle') }}#}
                    {#</p>#}
                    {# IMAGE USER #}
                    <li>
                        <img class="img-responsive navbar-avatar"
                             title="{{ 'layout.logged_in_as'|trans({'%username%': app.user.username},
                             'FOSUserBundle') }}"
                                {% if app.user.pathImage != null %}
                                    src="{{ asset('uploads/user/images/' ~ app.user.pathImage) }}"
                                {% else %}
                                    src="{{ asset('images/user_default_avatar.jpg') }}"
                                {% endif %}
                             alt="photo de profil"/>

                    </li>
                    {# PROFILE #}
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                    </li>
                    {# LOGOUT #}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    {# REGISTER #}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    {# LOGIN #}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <span class="glyphicon glyphicon-log-in"></span>
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>