{% trans_default_domain 'FOSUserBundle' %}
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Modifier votre mot de passe</h1>

                    {# FORM START#}
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'id' : 'login-form' } }) }}
                    {#{{ form_widget(form) }}#}
                    {#<div>#}
                    {#<input type="submit" value="{{ 'change_password.submit'|trans }}"/>#}
                    {#</div>#}

                    {# INPUT CURRENT_PASSWORD#}
                    {% set class = '' %}
                    {% if not form.current_password.vars.valid %}
                        {% set class = 'has-error' %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        {{ form_label(form.current_password, 'Votre mot de passe actuel', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.current_password, {'attr':{'class':'form-control'}}) }}
                        {#{{ form_errors(form.current_password) }}#}
                        {% if not form.current_password.vars.valid %}
                            {% for error in form.current_password.vars.errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {# INPUT NEW_PASSWORD#}
                    {% set class = '' %}
                    {% if not form.plainPassword.first.vars.valid %}
                        {% set class = 'has-error' %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        {{ form_label(form.plainPassword.first, 'Votre nouveau mot de passe', {'label_attr': {'class':
                            'control-label'}}) }}
                        {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                        {#{{ form_errors(form.plainPassword.first) }}#}
                        {% if not form.plainPassword.first.vars.valid %}
                            {% for error in form.plainPassword.first.vars.errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {# INPUT NEW_PASSWORD_CONFIRMATION#}
                    {% set class = '' %}
                    {% if not form.plainPassword.second.vars.valid %}
                        {% set class = 'has-error' %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        {{ form_label(form.plainPassword.second, 'Confirmation de votre nouveau mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                        {#{{ form_errors(form.plainPassword.second) }}#}
                        {% if not form.plainPassword.second.vars.valid %}
                            {% for error in form.plainPassword.second.vars.errors %}
                                <span class="help-block">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {# INPUT TOKEN CSRF#}
                    <div class="form-group">
                        {{ form_row(form._token) }}
                    </div>

                    {# INPUT SUBMIT#}
                    <input type="submit" class="btn btn-custom btn-lg btn-block"
                           value="{{ 'change_password.submit'|trans }}">

                    {# FORM END#}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
