{% extends 'base.html.twig' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

    <hr>
    <hr>

    {% for flashMessage in app.session.flashBag.get('validate_panier') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    {% for key in Events|keys %}
        <div class="row">
            <div class="col-sm-12">
                <!-- Catégorie -->
                <h3>{{ Events[key][0].idType.libelleType }}</h3>

                {% for event in Events[key] %}

                    <!-- Card Projects -->
                    <div class="col-md-2">
                        <div class="card">
                            <div class="card-image">
                                <img class="img-responsive"
                                     src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.titreEvent }}">
                                {#<span class="card-title">{{ Event.titreEvent }}</span>#}
                            </div>

                            <div class="card-content">
                                <p>{{ event.titreEvent|slice(0,13) }}</p>
                            </div>

                            <div class="card-action">
                                <a href="{{ path('front_view_event', {'id':event.idEvent}) }}">Détails</a>
                                <a href="{{ path('front_resa_event', {'id':event.idEvent}) }}">Réserver</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <hr>
    {% endfor %}
    <!-- /.row -->

{% endblock %}