{% extends 'base.html.twig' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
    <hr>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h2>Mes commandes</h2>

            {# FLASH MESSAGE #}
            {% for flashMessage in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Evénements</th>
                    {#<th>Qr-code</th>#}
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {# ORDERS #}
                {% for order in orders %}
                    <tr data-id="{{ order.idEvent.idEvent }}">
                        <td class="col-sm-7 col-md-5">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#">
                                    <img class="img-responsive"
                                         src="{{ vich_uploader_asset(order.idEvent, 'imageFile', 'AppBundle\\Entity\\Event') }}"
                                         alt="aucune affiche"/>
                                </a>
                                <div class="media-body">

                                    <h4 class="media-heading"><a href="#">

                                            {{ order.idEvent.titreEvent }}
                                        </a></h4>
                                    <h5 class="media-heading"> le {{ order.idEvent.dateEvent|date("d/m/Y", "Europe/Paris") }}
                                    </h5>
                                </div>
                            </div>
                        </td>
                        {#<td class="cols-sm-1 col-md-3">#}
                            {#{{ barcode({code: app.request.server.get("SERVER_ADDR"), type: 'qrcode', format: 'svg', width: 5, height: 5, color: 'vert'}) }}#}
                        {#</td>#}
                        <td class="col-sm-2 col-md-2">
                            <a href="{{ path('front_order_view', {'idEvent':order.idEvent.idEvent}) }}" class="btn btn-custom glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Détails"></a>
                            {% if "now"|date('Ymd')  > order.idEvent.dateEvent|date('Ymd') %}
                               <a href="{{ path('front_order_edit', {'idEvent':order.idEvent.idEvent}) }}" class="btn btn-warning glyphicon glyphicon-pencil btn-edit-order disabled" data-toggle="tooltip" data-placement="top" title="Evénement déjà passée !"></a>
                            {% else %}
                               <a href="{{ path('front_order_edit', {'idEvent':order.idEvent.idEvent}) }}" class="btn btn-warning glyphicon glyphicon-pencil btn-edit-order" data-toggle="tooltip" data-placement="top" title="Modifier"></a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/bootbox.min.js') }}"></script>
{# SCRIPT PERSO#}
<script src="{{ asset('js/frontOffice/editOrder.js') }}"></script>
{% endblock %}