{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

    <hr>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <div class="container well">
                <div class="col-md-9">
                    <h2>Information de l'événement</h2>
                    <br>
                    <div class="col-md-6">
                        <dl>
                            <dt>Titre</dt>
                            <dd>
                                {{ Event.titreEvent }}
                                &nbsp;
                            </dd>
                            <br>

                            <dt>Date</dt>
                            <dd>
                                {{ Event.dateEvent|date("d/m/Y", "Europe/Paris") }}
                                &nbsp;
                            </dd>
                            <br>

                            <dt>Catégorie</dt>
                            <dd>
                                {{ Event.idType.libelleType }}
                                &nbsp;
                            </dd>
                            <br>

                            <dt>Salle</dt>
                            <dd>
                                {{ Event.idSalle.nomSalle }}
                                &nbsp;
                            </dd>
                            <br>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dt>Affiche</dt>
                            <dd>
                                <img class="img-responsive" src="{{ vich_uploader_asset(Event, 'imageFile') }}" alt="aucune affiche"/>
                                &nbsp;
                            </dd>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Actions :</h3>
                    <p>
                        {# INPUT BOOKING #}
                        <a href="{{ path('front_resa_event', {'id':Event.idEvent}) }}" class="btn btn-primary btn-lg btn-block">
                            <span class="glyphicon glyphicon-euro"></span>
                            Réserver
                        </a>
                    </p>
                    <p>
                        {# INPUT CANCEL #}
                        <a href="{{ path('front_homepage') }}" class="text-decoration-none">
                            <button type="button" class="btn btn-danger btn-lg btn-block">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                Annuler
                            </button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}