{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- CSS SEAT CHART -->
    <link rel="stylesheet" href="{{ asset('css/back.seat-charts.css') }}">
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

    <hr>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <div class="container well">
                <div class="col-md-9">
                    <h2>Information de l'événement</h2>
                    <br>
                    <div class="col-md-6">
                        <dl>
                            <dt>Titre</dt>
                            <dd>
                                {{ Event.titreEvent }}
                                &nbsp;
                            </dd>
                            <br>

                            <dt>Date</dt>
                            <dd>
                                {{ Event.dateEvent|date("d/m/Y", "Europe/Paris") }}
                                &nbsp;
                            </dd>
                            <br>

                            <dt>Catégorie</dt>
                            <dd>
                                {{ Event.idType.libelleType }}
                                &nbsp;
                            </dd>
                            <br>

                            <dt>Salle</dt>
                            <dd>
                                {{ Event.idSalle.nomSalle }}
                                &nbsp;
                            </dd>
                            <br>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dt>Affiche</dt>
                            <dd>
                                <img class="img-responsive" src="{{ vich_uploader_asset(Event, 'imageFile') }}" alt="aucune affiche"/>
                                &nbsp;
                            </dd>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Actions :</h3>
                    <p>
                        {# INPUT CANCEL #}
                        <a href="{{ path('admin_event_delete_list') }}" class="text-decoration-none">
                            <button type="button" class="btn btn-danger btn-lg btn-block">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                Retour
                            </button>
                        </a>
                    </p>
                    {# FORM DELETE #}
                    <p>
                        {{ include('@App/backOffice/forms/form.html.twig', { form: delete_form, message: 'Cette opération est irréversible, veuillez confirmer votre choix.'}) }}
                    </p>
                    {# INPUT HIDDEN ID EVENT #}
                    <input type="hidden" name="idEvent" id="idEvent" value="{{ Event.idEvent }}">
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-12">
            {# placeholder elements for the seat map #}
            {# Salle Principal #}
            {% if Event.idSalle.nomSalle == "Principale" %}
                <div id="seat-map-principal">
                    <div class="col-sm-12 front-indicator"><h2>Scène</h2></div>
                </div>
            {% elseif Event.idSalle.nomSalle == "Secondaire" %}
            {# Salle Secondaire #}
                <div id="seat-map-secondaire">
                    <div class="col-sm-12 front-indicator"><h2>Scène</h2></div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
<!-- FOSJsRoutingBunble -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<!-- JS BOOTBOX -->
<script src="{{ asset('js/bootbox.min.js') }}"></script>
<!-- JS SEAT CHART -->
<script src="{{ asset('js/backOffice/jquery.seat-charts.min.js') }}"></script>
{% if Event.idSalle.nomSalle == "Principale" %}
    <script src="{{ asset('js/backOffice/seatRoomPrincipal.js') }}"></script>
{% elseif Event.idSalle.nomSalle == "Secondaire" %}
    <script src="{{ asset('js/backOffice/seatRoomSecondaire.js') }}"></script>
{% endif %}
{% endblock %}