<link rel="stylesheet" href="http://localhost/{{ relative_path(asset('css/bootstrap.min.css')) }}">
{#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">#}
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Bangers|Bungee');

    h1 {
        font-family: Bangers, cursive;
        color: black;
    }

    p {
        font-family: Bungee, cursive;
        color: black;
    }

    /*.title-ticket {*/
    /*margin-left: 450px;*/
    /*margin-top: -300px;*/
    /*font-size: 50px;*/
    /*}*/

    /*.date-ticket {*/
    /*margin-left: 50px;*/
    /*margin-top: -350px;*/
    /*font-size: 20px;*/
    /*}*/

    /*.row-ticket {*/
    /*margin-left: 150px;*/
    /*margin-top: 340px;*/
    /*}*/

    /*.seat-ticket {*/
    /*margin-left: 235px;*/
    /*margin-top: -35px;*/
    /*}*/

    /*.price-ticket {*/
    /*margin-left: 800px;*/
    /*margin-top: -400px;*/
    /*font-size: 60px;*/
    /*}*/

    /*.image-ticket {*/
    /*margin-left: 90px;*/
    /*margin-top: -70px;*/
    /*}*/

    /*.image-ticket img {*/
    /*width: 200px;*/
    /*}*/

    .mockup-ticket {
        position: relative;
    }

    .title-ticket {
        /*margin-left: 370px;*/
        /*margin-top: -300px;*/
        left: 370px;
        top: -320px;
        font-size: 50px;
        position: absolute;
        text-align: center;
        width: 40%;
    }

    .date-ticket {
        /*margin-left: 50px;*/
        /*margin-top: -500px;*/
        left: 50px;
        top: -500px;
        font-size: 20px;
        position: absolute;
    }

    .row-ticket {
        /*margin-left: 130px;*/
        /*margin-top: -100px;*/
        left: 140px;
        top: -100px;
        position: absolute;
    }

    .seat-ticket {
        /*margin-left: 220px;*/
        /*margin-top: -100px;*/
        left: 230px;
        top: -100px;
        position: absolute;
    }

    .price-ticket {
        /*margin-left: 800px;*/
        /*margin-top: -500px;*/
        left: 800px;
        top: -500px;
        font-size: 50px;
        position: absolute;
    }

    .image-ticket {
        /*margin-left: 90px;*/
        /*margin-top: -430px;*/
        left: 90px;
        top: -430px;
        position: absolute;
    }

    .image-ticket img {
        width: 200px;
    }

    .qrcode {
        left: 1050px;
        top: -130px;
        position: absolute;
    }

    .barcode {
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        position: absolute;
        left: 920px;
        top: 200px;
    }


</style>

{#<p><img src="http://localhost/{{ relative_path(asset('images/event-ticket.png')) }}" alt="ticket"></p>#}

{#<div><h1 class="title-ticket">{{ event }}</h1></div>#}
{#<div><p class="date-ticket">{{ date|date("d/m/Y", "Europe/Paris") }}</p></div>#}
{#<div><p class="row-ticket">{{ row|slice(0,1) }}</p></div>#}
{#<div><p class="seat-ticket">{{ seat }}</p></div>#}
{#<div><p class="price-ticket">{{ price }} €</p></div>#}
{#<div><p class="image-ticket"><img src="http://localhost/{{ relative_path(asset('uploads/event/images/' ~ image)) }}" alt="event"></p></div>#}

<div class="container">
    <div class="row">
        <div class="col-sm-12 mockup-ticket">
            <img src="http://localhost/{{ relative_path(asset('images/event-ticket.png')) }}" alt="ticket">
            {#<img src="{{ asset('images/event-ticket.png') }}" alt="ticket">#}

            {#<div class="row">#}
            <div class="col-sm-12">
                <h1 class="title-ticket">{{ event }}</h1>
            </div>
            {#</div>#}
            {#<div class="row">#}
            <div class="col-sm-12">
                <p class="date-ticket">{{ date|date("d/m/Y", "Europe/Paris") }}</p>
            </div>
            {#</div>#}
            {#<div class="row">#}
            <div class="col-sm-12">
                <p class="row-ticket">{{ row|slice(0,1) }}</p>
            </div>
            {#</div>#}
            {#<div class="row">#}
            <div class="col-sm-12">
                <p class="seat-ticket">{{ seat }}</p>
            </div>
            {#</div>#}
            {#<div class="row">#}
            <div class="col-sm-12">
                <p class="price-ticket">{{ price }} €</p>
            </div>
            {#</div>#}
            {#<div class="row">#}
            <div class="col-sm-12">
                <p class="image-ticket"><img src="http://localhost/{{ relative_path(asset('uploads/event/images/' ~ image)) }}" alt="event"></p>
                {#<p class="image-ticket"><img src="{{ asset('uploads/event/images/' ~ image) }}" alt="event"></p>#}
            </div>
            <div class="col-sm-12">
                {#<p class="qrcode">{{ barcode({code: event, type: 'qrcode', format: 'svg', width: 3, height: 3, color: 'black'}) }}</p>#}
                {#<p class="qrcode">{{ barcode({code: app.request.server.get("SERVER_ADDR") ~ '/TPResa_Symfony3-Git/web/app_dev.php/ticket/validate/' ~ codeUnique, type: 'qrcode', format: 'svg', width: 2, height: 2, color: 'black'}) }}</p>#}
                {#<p class="qrcode">{{ barcode({code: app.request.server.get("SERVER_NAME") ~ '/TPResa_Symfony3-Git/web/app_dev.php/ticket/validate/' ~ codeUnique, type: 'qrcode', format: 'svg', width: 2, height: 2, color: 'black'}) }}</p>#}
                <p class="qrcode">{{ barcode({code: codeUnique, type: 'qrcode', format: 'svg', width: 2, height: 2, color: 'black'}) }}</p>
            </div>
            <div class="col-sm-12 barcode">
                {#{{ barcode({code: date|date("d/m/Y", "Europe/Paris") ~ row, type: 'c128', format: 'html', width: 1, color: 'black'}) }}#}
                {{ barcode({code: codeUnique, type: 'c128', format: 'html', width: 1, color: 'black'}) }}
            </div>
            {#</div>#}
        </div>
    </div>

</div>
